/* Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* 1C315E */
/* 227C70 */
/* 88A47C */
/* E6E2C3 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: var(--white-color); */
  /* background-color: var(--dark-color); */
}

:root {
  --primary-color: #227c70;
  --dark-color: #000;
  --white-color: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: auto;
}

.left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white-color);
}

a:visited {
  color: var(--dark-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

button,
.btn-primary {
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--primary-color);
}

.btn-primary:hover {
  background-color: #00a592;
  color: var(--white-color);
  border: 2px solid #00a592;
}

.btn-primary:active {
  cursor: not-allowed;
}

.btn-secondary {
  background-color: var(--white-color);
  color: var(--dark-color);
  border: 2px solid var(--primary-color);
  transition: all 0.1s ease-in-out;
}

.btn-secondary:active {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
}

.spaces {
  margin-bottom: 0.7rem;
}

.underline {
  border-bottom: 2px solid var(--primary-color);
  width: max-content;
  margin-bottom: 2rem;
}
